

$primary:#b21902;
$darkgray:#454545;
$white:#FFFFFF;
$black:#000000;
$border-color:#d5d5d5;


$font-family-mueso-sans:'museo_sans';
$font-family-zilla-slab:'zilla_slab';
$font-family-zilla-slab-italic:'zilla_slab_italic';

$font-weight-light:300;
$font-weight-medium:500;
$font-weight-semi-bold:700;
$font-weight-bold:900;

